/* TestDashboard.css */

.test-dashboard {
  display: flex;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}

.side-panel {
  width: 17%;
  background-color: #404154;
  padding: 20px;
  overflow-y: scroll;
  color: white;
}

.side-panel ul {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.side-panel li {
  padding: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.side-panel li.attempted {
  color: #28a745;
}

.side-panel li.review:not(.attempted) {
  color: #ffc107; 
}

.side-panel li.not-attempted {
  color: #dc3545;
}

.side-panel li:hover {
  background-color: #ddd;
}

.side-panel li.active {
  background-color: #ddd;
  cursor: default;
}

.side-panel li.attempted.active,
.side-panel li.review.active {
  color: #fff;
}

.main-content {
  flex: 1;
  background-color: #fff;
  padding: 20px;
}

.top-bar,
.bottom-bar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.top-bar button,
.bottom-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.top-bar button:hover,
.bottom-bar button:hover {
  background-color: green;
}

.top-bar button:disabled,
.bottom-bar button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Question Box Styles */
.question-box {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.question-box p {
  font-weight: 600;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.options label {
  margin-bottom: 10px;
}

.review-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.review-button:hover {
  background-color: #218838;
}

.tabCounter p {
  font-size: 18px;
  font-weight: 600;
}

.question-status p{
  margin: 8px;
  font-weight: 400;
}